@model IEnumerable<Shape.Models.Record>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
    <br />
    @Html.ActionLink("Show in Chart", "Chart")

    @using (Html.BeginForm("Index","Records", FormMethod.Get))
    {
        <p> Show By
            Month: @Html.DropDownList("Months","All")
            Year: @Html.DropDownList("Years","All")
           <input type="submit" value="Filter" />
        </p>
    }
</p>
@foreach(var group in Model.GroupBy(model => model.RecordDate.Year))
{
    <p>@group.Key</p>
    <table class="table">
        <tr>
            <th>
                Month
            </th>
            <th>
                Day
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Weight)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Waist)
            </th>
            <th></th>
        </tr>

        @foreach (var item in group)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.RecordDate.Month)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.RecordDate.Day)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Weight)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Waist)
                </td>
                <td>
                    @Html.ActionLink("Edit", "Edit", new { id = item.ID }) |
                    @Html.ActionLink("Details", "Details", new { id = item.ID }) |
                    @Html.ActionLink("Delete", "Delete", new { id = item.ID })
                </td>
            </tr>
        }

    </table>
    }



<script>

</script>
